<div class="container-narrow">
<div class= "jumbotron center" 
	<h1> <font size ="20">Welcome to my app</font></h1>
</div>

<div class= "jumbotron"
	<div class = "row">
		<div class = "container center">
			<% if user_signed_in? %>
				Welcome to your homepage!
		</div>		
			<% else %>	
				<div class = "col-md-6"> 
					<p>Click here to <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
				</div>
				<div class = "col-md-6">
					<p> Already a user? <%= link_to "sign in", new_user_session_path, class: "btn btn-primary btn-lg" %> </p>
			<% end %>		

			
				</div>
	</div>		
</div>


